+title("EE04")
+subtitle("Intro")

#body

	#div.logo.wide
		+img('img/Ident-01.png')

	h1 Welcome to EE04

	p It's been a busy 14 weeks. We've seen 6 Venture Partners, over 60 mentors and 15 partner institutions contribute to the development of the 5 portfolio companies we have pitching here today.
