// Add your custom styles over here

#body
  text-align: center

.descriptor
  margin: 30px 0

.logo
  width: 200px
  margin: 0 auto
  margin-top: 70px

.wide
  width: 400px

#your-name
  font-size: 29px
  height: 50px
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;

#rightbar-toggle
  display: none;

#textbook ul
  text-align: left;

.spaced
	margin-top: 250px

.btn-intro
  font-family: Arial
  button:focus
    outline: 0
  .caption
    font-size: 70%
    opacity: 0.5
    line-height: 1em
    margin: 5px 0 10px 0

h1
	margin-bottom: 10px

#team
	background: #dddddd
	padding: 20px
	margin-bottom: 20px

	img
		border-radius: 50px
		width: 100px
		height: 100px
		margin-right: 30px;
		display: inline-block
		vertical-align: top

	#team-info
		width: 70%
		display: inline-block

		h3
			font-size: 1em
			font-weight: 600
			line-height: 1em
			margin-top: 10px
			margin-bottom: 10px
			border-bottom: 1px solid grey;
    	padding-bottom: 10px;

		p
			margin-bottom: 0
			font-size: 0.75em

.logoContainer
  margin-top: 2em;
