+title("Stackbox")
+subtitle("EE04")

#body

  #div.logo.wide
    +img('img/sb-logo.jpg')

  h2 match.com for graduate recruitment

  p.descriptor Stackbox is a new, ground-breaking and free way for students and newly graduates to find the perfect job. With the innovative profiling mechanism that is behind Stackbox, cover letters and time consuming application forms filled by job hunters are no longer needed: after only a couple of clicks and 44 seconds, Stackbox assesses the student's experience and finds the right match between him and the jobs available.

  .btn-intro Get Introduced
    
  #team
  
    +img('img/sb-becky.jpeg')

    #team-info
      h3 Becky Stephens

      p CEO & Founder of Stackbox • 5+ years in graduate recruitment • Previously at Essentia, TSU Professionals London Ltd • LSE graduate

  #team
  
    +img('img/dq-simon.jpg')

    #team-info
      h3 Omid

      p Machine learning master • Awesome experience • More cool stuff