+title("GamePlan Learning")
+subtitle("EE04")

#body

  //- #div.logo.wide
  .row.logoContainer
    .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.col-xs-12
      +img('img/gp-logo.jpg')

  h2 Maps personalised career plans.

  p.descriptor GamePlan produces personalised career plans for users. GamePlan helps organisations with recruitment, skills training, career progression and retention of its employees. 

  +btn-intro()

  #team

    +img('img/gp-gene.jpg')

    #team-info
      h3 Gene Eidelman

      p Founder & CEO at GamePlan Learning • Serial entrepreneur • Recognised thought leader in e-learning • Founded and exited Mosaica education (110 educational institutions on 3 continents) • Founded and exited a large private childcare business for corporate clients

  #team

    +img('img/gp-joshua.jpg')

    #team-info
      h3 Joshua Marks

      p CTA at GamePlan Learning • CTO at Curriki • 25 year ed-tech innovator with early roles at The Learning Company, Electronics Arts • Corporate experience at Harcourt and McGraw-Hill.
