+title("Thank-You")
+subtitle("EE04")

#body

  #div.logo
    +img('img/Ident-01.png')

  h2 Thank-You!

  p.descriptor Your continued support is hugely appreciated. We hope you feel you've seen an exciting round of EdTech startups and are looking forward to connecting to them.
  p.descriptor If you missed any that you'd like to connect with, you can now skip back and request intros.
