+title("GamePlan Learning")
+subtitle("EE04")

#body

  #div.logo.wide
    +img('img/gp-logo.jpg')

  h2 Maps personalised career plans.

  p.descriptor GamePlan produces personalised career plans for users. Corporates can

  .btn-intro Get Introduced
    
  #team
  
    +img('img/gp-gene.jpg')

    #team-info
      h3 Gene Eidelman

      p Founder & CEO at GamePlan Learning • Founded and exited Mosaica education.

  #team
  
    +img('img/gp-joshua.jpg')

    #team-info
      h3 Joshua Marks

      p CTA at GamePlan Learning • CTO at Curriki • 25 year ed-tech innovator with early roles at The Learning Company, Electronics Arts • Corporate experience at Harcourt and McGraw-Hill.