+title("Traincamp")
+subtitle("EE04")

#body

  #div.logo
    +img('img/dq-logo.png')

  h2 Teach better, save time.

  p.descriptor Diagnostic Questions is a platform for teachers to share formative assessment resources. It helps teachers teach better by using smart assessment to quickly identify student misconceptions. The customers are teachers, publishers and awarding bodies.

  .btn-intro Get Introduced
    
  #team
  
    +img('img/dq-simon.jpg')

    #team-info
      h3 Simon Woodhead

      p Co-founder of Diagnostic Questions • PhD in Visualization of Data • Studied at @University of Bristol

  #team
  
    +img('img/dq-simon.jpg')

    #team-info
      h3 Craig Barton

      p Co-founder of Diagnostic Questions • Lead maths teacher for TES & most well known UK Maths blogger • Head of Maths @ xxx