+title("Edurio")
+subtitle("EE04")

#body

  #div.logo
    +img('img/ed-logo.jpg')

  h2 Education quality management tools.

  p.descriptor Edurio is building a web toolkit for schools to continually improve the quality of the education they provide by:
    ul
      li Carrying out self-assessments
      li Collecting feedback from students, teachers, parents and alumni
      li Taking improvement actions like milestone setting and best practice sharing.

  +btn-intro

  #team

    +img('img/ed-ernest.jpg')

    #team-info
      h3 Ernest Jenavs

      p CEO at Edurio • Ex McKinsey consultant • European Commission expert on innovation • Angel investor and NED at Nifty

  #team

    +img('img/ed-janis.jpg')

    #team-info
      h3 Janis Gribusts

      p CTO at Edurio

  #team

    +img('img/ed-gatis.jpg')

    #team-info
      h3 Gatis Narvaišs

      p CPO at Edurio • Founder of macibuvideo.lv • Apple Professional Development Consultant • Coach for teachers at Teach for Latvia (Iespējamā misija) • Science teacher.
