+title("Traincamp")
+subtitle("EE04")

#body

  #div.logo
    +img('img/tc-logo.png')

  h2 A training camp for 21st Century talent.

  p.descriptor An intelligent training camp that transforms the existing fragmented experience of content discovery, learning management & collaboration into efficient flow of talent development.

  +btn-intro

  #team

    +img('img/tc-iliya.jpg')

    #team-info
      h3 Iliya Lazerov

      p CEO of Traincamp.me • Award winning creative lead • Studied at Durham University

  #team

    +img('img/tc-mladen.jpg')

    #team-info
      h3 Mladen Borisov

      p Digital @ Traincamp.me

  #team

    +img('img/tc-boian.png')

    #team-info
      h3 Boian Kolev

      p UX @ Traincamp.me
